In [2]:
#Add dependency dependencies
import pandas as pd
import os

In [3]:
#Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [4]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df

In [5]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
#student_data_df.head()

In [6]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [7]:
# Determine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
# Determine if there are any missing values in the school data.
#school_data_df.isnull()

In [9]:
# Determine if there are any missing values in the student data.
#student_data_df.isnull().sum()

In [10]:
# Determine if there are not any missing values in the school data.
#school_data_df.notnull()

In [11]:
# Determine if there are not any missing values in the student data.
#student_data_df.notnull().sum()

In [12]:
#Determine data types for the school DataFrame.
#school_data_df.dtypes

In [13]:
# Determine data types for the student DataFrame.
#student_data_df.dtypes

In [14]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
    
#student_data_df

/var/folders/bh/yfzvzppj5k93kvdphxn5z1b40000gn/T/ipykernel_87854/1679909958.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [16]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [31]:
school_data_complete_df[["math_score", "reading_score"]].mean()

math_score       78.985371
reading_score    81.877840
dtype: float64

In [32]:
passing_math = school_data_complete_df["math_score"]>=70
passing_reading = school_data_complete_df["reading_score"]>=70

In [44]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
# passing_math = school_data_complete_df["math_score"] >= 70
# passing_students = school_data_complete_df[passing_math]
# passing_students

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

passing_math_count = passing_math["student_name"].count()
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count, passing_reading_count)

29370 33610

In [47]:
passing_math_percentage = (passing_math_count/school_data_complete_df["student_name"].count())*100
passing_reading_percentage = (passing_reading_count/school_data_complete_df["student_name"].count())*100
print(passing_math_percentage, passing_reading_percentage)

74.9808526933878 85.80546336482001

In [50]:
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)&(school_data_complete_df["reading_score"] >= 70)]
passing_math_reading["student_name"].count()

25528

In [52]:
overall_passing_percentage = (passing_math_reading["student_name"].count()/school_data_complete_df["student_name"].count())*100
overall_passing_percentage

65.17232575950983

In [93]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_data_df["school_name"].count(),
          "Total Students": student_data_df["student_name"].count(),
          "Total Budget": school_data_df["budget"].sum(),
          "Average Math Score": school_data_complete_df["math_score"].mean(),
          "Average Reading Score": school_data_complete_df["reading_score"].mean(),
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
#district_summary_df

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65